
.menu-option .option h4{
  font-size: inherit;
}

.container {
    display: flex;
    justify-content: center; /* Centrar las tarjetas en el contenedor */
    height: 200px;
    width: 980px;
    margin: auto;
    margin-top: 4.5%;
  }
  
.row-flex-nowrap {
    display: flex;
    white-space: nowrap; /* Evitar que las tarjetas se dividan en varias líneas */
    width: 1100px;
    height: 180px;
    margin-left: 110px;
  }
  
.card-card-small {
    width: 90%; /* Ancho de cada tarjeta (30% del ancho del contenedor) */
    height: calc(100% - 20px); /* Alto de cada tarjeta (100% - 20px de margen) */
    margin-right: 20px; /* Espacio entre cada tarjeta */
    border: 0px solid rgba(243, 243, 243, 0); /* Agregar borde a cada tarjeta */
    flex: 1; /* Establecer el tamaño de las tarjetas al mismo valor */
    margin-top: 10px;   
  }

.card-card-small :hover{
  background-color: rgb(219, 210, 210);
}

.container-cards{
    width: 300px;
    height: 170px;
    display: flex;
    justify-content: center;
}
  
.card {
    height: 100%;
  }
  
.card-title {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

.card-title i{
    margin-top: 5px;
    height: 30PX;
    width: 30px;
    font-size: 25px;
    margin-right: 5PX;
  }

.card-title H5{
    margin-top: 5px;
    font-weight: 600;
}
.tablero_metas{
  display: flex;
  justify-content: center;
}

.tablero_metas .iconos_tableros i{
  display: block;
  margin-bottom: 15px;
  font-size: 19px;
  margin-right: 10px;
}

.tablero_metas .nombres_kpi h5{
  text-align: left;
  margin-right: 10px;
}

.tablero_metas .value_kpi h5{
  text-align: right;
  margin-right: 10px;
  font-weight: 600;
}

.tablero_metas .semaforo-kpi div{
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px;
  border-color: black;
  box-shadow: rgb(211, 208, 208);
  margin-bottom: 13px;
}


.list-icon{
  list-style-type: none;
  align-content: space-between;
}
.list-icon li{
  display: flex;
  
  width: 250;

}

.list-icon li i{
  font-size: 20px;
  margin-top: 5px;
  margin-right: 10px;
}

.list-icon li h5{
  font-size: 20px;
  font-family: "Helvetica", sans-serif;
  margin-right: 10px;
}

.list-icon li .semaforo{


}

.card_colocacion{
  text-align: center;
  margin-top: 30px;
}

.card_colocacion .meta{
  font-size: x-large;
  font-weight: 600;
}

.card-body{
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #c2c2c2;
    border-radius: 4%;
    border: #757575;
    border-color: #757575;
}


  
.card-text {
    font-size: 16px;
    text-align: justify;
    height: 120px;
    word-wrap: break-word;
  }
    
.tabla-clientes {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 90%;
    height: 70%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin-left: 100px;
    justify-content: flex-end;
    margin-top: 30px;

}

#tabla-clientes_wrapper{
  margin-top: -25px;
}

.dataTables_length {
    margin-left: 110px;
}

.dataTables_filter {
    margin-right: 40px;
}

.dataTables_info{
    margin-left: 110px;
}


.tabla-clientes thead th {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #757575;
    background-color: #f2f2f2;
    padding: 12px;
}

.tabla-clientes tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-clientes tbody tr:last-child {
    border-bottom: none;
}

.tabla-clientes tbody td {
    font-size: 14px;
    color: #333;
    padding: 12px;
    height: 20px;
}

.tabla-clientes tbody tr:hover {
    background-color: #f5f5f5;
}