.caja_pricipal{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #be1b1b;
    border: 2px solid #c2c2c2;
    box-shadow: 0px 0px 10px black;
    width: 800px;
    height: 120px;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    padding: 20px;
    margin-left: 325px;
    margin-bottom: 10px;
}
.logo{
    margin: auto;
}


.titulo {
    color: #ffffff; /* Color blanco */
    border: 2px solid #ffffff; /* Borde blanco de 2px de grosor */
    padding: 10px 20px; /* Espacio interno alrededor del texto */
    border-radius: 5px; /* Bordes redondeados */
    text-transform: uppercase; /* Texto en mayúsculas */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-shadow: 2px 2px #000000; /* Sombra para resaltar el texto */
    margin: auto;
    text-align: left;

}
fieldset {
    background-color: #c2c2c2;
    border: 2px solid #ece8e8ec;
    box-shadow: 0px 0px 10px black;
    padding: 150px;
    margin-bottom: 20px;
    width: 800px;
    height: 730px;
    margin-left: 325px;
}

.principal-form {
    margin-top: -120px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #020202;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
select:focus {
    outline: none;
    border-color: #e02b2b;
}

input[type="submit"] {
    background-color: #be1b1b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #be1b1b;
    border-color: #181313;
    border: 2px solid #fdfafaec;
}

#vendedor{
    width: 550px;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.container-button{
    width: 150px;
    margin-left: 170px;
}
.form-row .form-group {
    flex-basis: calc(50% - 10px);
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-row .form-group {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}