{% extends "index.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/portafolio_style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Portafolio {% endblock %}

{% block content %}
<table>
    <thead>
      <tr>
        <th>Fecha de prospección</th>
        <th>Concesionario aliado</th>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>Segundo nombre</th>
        <th>Primer apellido</th>
        <th>Segundo apellido</th>
        <th>Celular</th>
        <th>Email</th>
        <th>Perfil</th>
        <th>Vendedor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ fecha_prospeccion }}</td>
        <td>1</td>
        <td>123456789</td>
        <td>Juan</td>
        <td>Pablo</td>
        <td>García</td>
        <td>Hernández</td>
        <td>1234567890</td>
        <td>juanpgarcia@mail.com</td>
        <td>1</td>
        <td>1</td>
      </tr>
    </tbody>
  </table>

{% endblock %}