<!DOCTYPE html>
<html lang="en">
<head>
    <link href="D:\CRM_FINANCIERO\frontend\static\css\portafolio_style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard principal</title>
    <script src="https://kit.fontawesome.com/c0ea10251b.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    <header >
        
    </header>

    <div class="menu-site" id="menu_site">
        <div class="icon-menu">
            <i class="fa-solid fa-bars" id="btn_open"></i>
        </div>
        <div class="menu-option">
            <a href="" class="selected">
                <div class="option">
                    <i class="fa-solid fa-house" title="inicio"></i>
                    <h4>Inicio</h4>
                </div>
                
            </a>
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-briefcase" title="Portafolio de clientes"></i>
                    <h4>Portafolio de clientes</h4>
                </div>   
            </a>
            <a href="D:\CRM_FINANCIERO\frontend\views\index2.html">
                <div class="option">
                    <i class="fa-solid fa-user-plus" title="Prospectar"></i>
                    <h4>Prospectar</h4>
                </div>   
            </a>
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-money-check-dollar" title="Simulador Financiación"></i>
                    <h4>Simulador Financiación</h4>
                </div>
            </a>
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-route" title="Agenda de visitas"></i>
                    <h4>Agenda de visitas</h4>
                </div>
            </a>
            <a href="">
                <div class="option">
                    <i class="fa-solid fa-chart-line" title="reportes"></i>
                    <h4>Reportes</h4>
                </div>
            </a>

        </div>
    </div>
    <div>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>estado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>20/03/2022</td>
                <td>jesus</td>
                <td>Barandica</td>
                <td><select name="" id="">
                        <option value="">viable</option>
                        <option value="">negado centrales</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>20/03/2022</td>
                <td>gaby</td>
                <td>Barandica</td>
                <td>3002284216</td>
            </tr>
        </tbody>
    </div>
    <script src="scripts/eventos_menu.js"></script>
</body>
</html>