{% extends "index.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/portafolio_style.css') }}" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link href="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
{% endblock %}

{% block title %} Portafolio {% endblock %}
{% block script %} 
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.4/datatables.min.js"></script>
<script src="{{ url_for('static', filename='scripts/datatable.js') }}"></script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="row-flex-nowrap">
    <div class="container-cards">
      <div class="card-card-small">
        <div class="card-body">
          <div class="card-title">
            <i class="fa-sharp fa-regular fa-bullseye-arrow"></i>
            <h5>META</h5>
          </div>
          <p class="card-text">espacio texto</i></p>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <div class="card-card-small">
        <div class="card-body">
          <h5 class="card-title">AVANCE</h5>
          <p class="card-text">espacio texto</p>
        </div>
      </div>
    </div>
    <div class="container-cards">
      <div class="card-card-small">
        <div class="card-body">
          <h5 class="card-title">COLOCACIÓN</h5>
          <p class="card-text">espacio texto </p>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="tabla-clientes" id="tabla-clientes">
    <thead>
      <tr>
        <th>Fecha prospecto</th>
        <th>Identificación</th>
        <th>Nombre</th>
        <th>Perfil</th>
        <th>Celular</th>
        <th>Concesionario</th>
        <th>Estado</th>
        <th>Etapa</th>        
      </tr>
    </thead>
    <tbody>
      {% for prospecto in prospectos_ejecutivo %}
      <tr>
        <td>{{ prospecto[0] }}</td>
        <td>{{ prospecto[1] }}</td>
        <td>{{ prospecto[2] ~ " " ~ prospecto[3] ~ " " ~ prospecto[4] }}</td>
        <td>{{ prospecto[5] }}</td>
        <td>{{ prospecto[6] }}</td>
        <td></td>
        <td>viable</td>
        <td>
          <select name="" id="">
            <option value="">...</option>
            <option value="">Busqueda de documentos</option>
            <option value="">Radicación credito</option>
            <option value="">Estudio</option>
          </select>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
