{% extends "index.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/prospectar_style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %} Prospectar {% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/mensaje_alerta.js') }}"></script>
{% endblock %}

{% block content %}

<div class=caja_pricipal>
    <img class="logo" src="{{ url_for('static',filename='image/logo.svg') }}" alt="Logo empresarial">
    <h1 class="titulo">PROSPECTAR</h1>
</div>

<fieldset>
    <legend>Datos del prospecto</legend>
    <form class="principal-form" id="principal-form" action="{{ url_for('Resource_prospectos.addprospecto') }}"
        method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="tipo_identi">Tipo de identificación:</label>
            <select name="tipo_identi" id="tipo_identi" class="form-control" required>
                <option value="">Seleccione una opción</option>
                <option value="1">Cédula de ciudadanía</option>
            </select>
            <input type="number" name="identificacion" id="identificacion" class="form-control"
                placeholder="Número de identificación" required min="1">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" required>
            </div>
            <div class="form-group col-md-6">
                <label for="segundo_nombre">Segundo nombre:</label>
                <input type="text" name="segundo_nombre" id="segundo_nombre" class="form-control"
                    placeholder="Segundo nombre" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="primer_apellido">Primer apellido:</label>
                <input type="text" name="primer_apellido" id="primer_apellido" class="form-control"
                    placeholder="Primer apellido" required>
            </div>
            <div class="form-group col-md-6">
                <label for="segundo_apellido">Segundo apellido:</label>
                <input type="text" name="segundo_apellido" id="segundo_apellido" class="form-control"
                    placeholder="Segundo apellido" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="celular">Celular:</label>
                <input type="text" name="celular" id="celular" class="form-control" placeholder="Número de celular"
                    required>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Correo electrónico:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Correo electrónico"
                    required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="perfil">Perfil:</label>
                <select name="perfil" id="perfil" class="form-control" required>
                    <option value="">Seleccione una opción</option>
                    <option value="2">Propietario de taxis</option>
                    <option value="3">Conductor de taxis</option>
                    <option value="1">Asalariado</option>
                    <option value="4">Pensionado</option>
                    <option value="5">Independiente</option>
                    <option value="6">Prestación de servicios</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="concesionario_aliado">Concesionario</label>
                <select name="concesionario_aliado" id="concesionario_aliado" class="form-control" required>
                    "<option value="">Seleccione una opción</option>"
                    {% for concesionario in concesionarios %}
                    "<option value="{{ concesionario[0] }}">{{ concesionario[1] }}</option>"
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="vendedor"><b>Vendedor</b></label>
                <select name="vendedor" id="vendedor" class="form-control" required>
                    "<option value="">Seleccione una opción</option>"
                    {% for vendedor in list_vendedores %}
                    "<option value="{{ vendedor[0] }}">{{ vendedor[1] ~ " " ~ vendedor[2] }}</option>"
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cedula">Adjuntar cédula</label>
                <input name="cedula" type="file" accept="image/jpeg, image/png" required>
            </div>
            <div class="form-group col-md-6">
                <label for="consulta">Adjuntar consulta</label>
                <input name="consulta" type="file" accept="image/jpeg, image/png" required>
            </div>
        </div>
        </div>
        <div class="container-button">
            <input class="boton" type="submit" value="Prospectar">
        </div>
    </form>
</fieldset>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="alert-box" class="alert">
    <span class="closebtn" onclick="closeAlert()">&times;</span>
    {% for message in messages %}
    <strong>{{ message }}</strong> 
    {% endfor %}
</div>
{% endif %}
{% endwith %}

{% endblock %}