<!DOCTYPE html>
<html lang="en">
<head>
    <link href="D:\CRM_FINANCIERO\frontend\css\prospectar_style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prospectar</title>
</head>
<body>

    <div class=caja_pricipal>
        <img class="logo" src="D:\CRM_FINANCIERO\frontend\image\logo.svg" alt="Logo empresarial">
        <h1 class="titulo">PROSPECTAR</h1>
    </div>  
    
    <fieldset class="campo_formulario" >
        <legend class="leyenda"><h3>Datos Cliente</h3></legend>
        <form>
            <label class= etiquetas for=""><b> Tipo de identificación</b></label>
            <label class= etiquetas for=""><b>Cedula</b></label>
            <br>
            <select name="" id="">
                <option>Cedula de ciudadania</option>
                <option>Cedula de extranjeria</option>
            </select>     
            <input class="campos" type="number" />       
            <br>
            <br>
            <label class= etiquetas for=""><b>Nombre </b></label>
            <label class= etiquetas for=""><b>Segundo nombre</b></label>
            <br>    
            <input class="campos" type="text" /> 
            <input class="campos" type="text" /> 
            <br><br>
            <label class= etiquetas for=""><b>Apellido</b></label>
            <label class= etiquetas for=""><b>Segundo apellido</b></label>
            <br>
            <input class="campos" type="text" />
            <input class="campos" type="text" /> 
            <br><br>
            <label class= etiquetas for=""><b>Celular</b></label>
            <label class= etiquetas for=""><b>Email</b></label>
            <br>
            <input class="campos" type="number" />
            <input class="campos" type="email"/>

            <br><br>
            <label class= etiquetas for=""><b>Perfil</b></label>
            <select name="" id="">
                <option>Propietario de taxis</option>
                <option>Conductor de taxis</option>
                <option>Asalariado</option>
                <option>Pensionado</option>
                <option>Independiente</option>
                <option>Prestación de servicios</option>
            </select>
            <br><br><br>
            <input class="boton" type="submit" value="Prospectar"/>

        </form>
    </fieldset>

</body>
</html>